.icon-phone {
    height: 32px;
    width: 32px;
    background: url(../img/icon/Icon-smartphone.png) center no-repeat;
    background-size: cover;
  }
  
  .icon-message {
    height: 32px;
    width: 32px;
    background: url(../img/icon/Icon-message.png) center no-repeat;
    background-size: cover;
  }
  
  .icon-in {
    height: 32px;
    width: 32px;
    background: url(../img/icon/Icon-in.png) center no-repeat;
    background-size: cover;
  }