{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "portfolio.kuova.com.mx",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "exportHistory": true,
      "history": [
        {
          "file": "Portfolio-CarlosEdmundo.fig",
          "mtimeMs": 1666970561000,
          "date": "2023-08-21T03:04:25.141Z"
        },
        {
          "file": "claro.html",
          "mtimeMs": 1692598588000,
          "date": "2023-08-21T06:20:31.490Z"
        },
        {
          "file": "estructure.html",
          "mtimeMs": 1692642810000,
          "date": "2023-08-28T20:58:05.139Z"
        },
        {
          "file": "hds.html",
          "mtimeMs": 1692642725000,
          "date": "2023-08-28T20:58:05.765Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1693267661000,
          "date": "2023-08-29T00:07:45.290Z"
        },
        {
          "file": "prueba.html",
          "mtimeMs": 1692322534000,
          "date": "2023-08-21T03:04:28.363Z"
        },
        {
          "file": "upax.html",
          "mtimeMs": 1692598593000,
          "date": "2023-08-21T06:20:32.335Z"
        },
        {
          "file": "componentes/footer.html",
          "mtimeMs": 1676428432000,
          "date": "2023-08-21T03:04:29.529Z"
        },
        {
          "file": "css/bootstrap-grid.min.css",
          "mtimeMs": 1692321073000,
          "date": "2023-08-21T03:04:30.241Z"
        },
        {
          "file": "css/estilos.css",
          "mtimeMs": 1693267660000,
          "date": "2023-08-29T00:07:45.819Z"
        },
        {
          "file": "css/project.css",
          "mtimeMs": 1692598775000,
          "date": "2023-08-21T06:20:33.274Z"
        },
        {
          "file": "img/13982.jpg",
          "mtimeMs": 1692399324000,
          "date": "2023-08-21T03:04:32.155Z"
        },
        {
          "file": "img/Assets.ai",
          "mtimeMs": 1666970562000,
          "date": "2023-08-21T03:04:33.063Z"
        },
        {
          "file": "img/Carlos_1.jpg",
          "mtimeMs": 1692393703000,
          "date": "2023-08-21T03:04:33.842Z"
        },
        {
          "file": "img/Carlos_1.png",
          "mtimeMs": 1666970567000,
          "date": "2023-08-21T03:04:36.722Z"
        },
        {
          "file": "img/Grabación de pantalla 2023-02-15 a la(s) 16.03.44.mov",
          "mtimeMs": 1679500544000,
          "date": "2023-08-21T03:04:41.694Z"
        },
        {
          "file": "img/Grabación de pantalla 2023-02-15 a la(s) 16.36.43.mov",
          "mtimeMs": 1679500545000,
          "date": "2023-08-21T03:04:43.491Z"
        },
        {
          "file": "img/bg-about.jpg",
          "mtimeMs": 1692399310000,
          "date": "2023-08-21T03:04:44.157Z"
        },
        {
          "file": "img/bg-portfolio-m.jpg",
          "mtimeMs": 1692398695000,
          "date": "2023-08-21T03:04:44.861Z"
        },
        {
          "file": "img/bg-portfolio.jpg",
          "mtimeMs": 1692403787000,
          "date": "2023-08-21T03:04:45.647Z"
        },
        {
          "file": "img/br-portfolio.psd",
          "mtimeMs": 1692407793000,
          "date": "2023-08-21T03:05:09.865Z"
        },
        {
          "file": "img/pexels-picjumbocom-196644.jpg",
          "mtimeMs": 1667189709000,
          "date": "2023-08-21T03:05:10.960Z"
        },
        {
          "file": "img/ux-design-75.png",
          "mtimeMs": 1666970572000,
          "date": "2023-08-21T03:05:16.317Z"
        },
        {
          "file": "img/ux-design-bg.jpg",
          "mtimeMs": 1666970572000,
          "date": "2023-08-21T03:05:17.127Z"
        },
        {
          "file": "img/ux-design.jpg",
          "mtimeMs": 1666970573000,
          "date": "2023-08-21T03:05:17.897Z"
        },
        {
          "file": "img/waves.jpg",
          "mtimeMs": 1692578109000,
          "date": "2023-08-21T03:05:18.718Z"
        },
        {
          "file": "img/2x/UI UX.png",
          "mtimeMs": 1666970573000,
          "date": "2023-08-21T03:05:19.455Z"
        },
        {
          "file": "img/4x/Elements 1.png",
          "mtimeMs": 1666970574000,
          "date": "2023-08-21T03:05:20.227Z"
        },
        {
          "file": "img/4x/Elements 2.png",
          "mtimeMs": 1666970574000,
          "date": "2023-08-21T03:05:20.825Z"
        },
        {
          "file": "img/4x/Elements.png",
          "mtimeMs": 1666970574000,
          "date": "2023-08-21T03:05:21.551Z"
        },
        {
          "file": "img/4x/UI UX model.png",
          "mtimeMs": 1666970575000,
          "date": "2023-08-21T03:05:22.457Z"
        },
        {
          "file": "img/4x/UI UX.png",
          "mtimeMs": 1666970575000,
          "date": "2023-08-21T03:05:23.341Z"
        },
        {
          "file": "img/Logos/Claro.png",
          "mtimeMs": 1676419066000,
          "date": "2023-08-21T03:05:23.958Z"
        },
        {
          "file": "img/Logos/Consultando HDS.png",
          "mtimeMs": 1666970575000,
          "date": "2023-08-21T03:05:24.606Z"
        },
        {
          "file": "img/Logos/GBT.png",
          "mtimeMs": 1666970576000,
          "date": "2023-08-21T03:05:25.183Z"
        },
        {
          "file": "img/Logos/Holihealth.png",
          "mtimeMs": 1666970576000,
          "date": "2023-08-21T03:05:25.823Z"
        },
        {
          "file": "img/Logos/LQC.png",
          "mtimeMs": 1666970577000,
          "date": "2023-08-21T03:05:26.533Z"
        },
        {
          "file": "img/Logos/TOI.png",
          "mtimeMs": 1666970577000,
          "date": "2023-08-21T03:05:27.184Z"
        },
        {
          "file": "img/Logos/Upax.png",
          "mtimeMs": 1666970578000,
          "date": "2023-08-21T03:05:27.789Z"
        },
        {
          "file": "img/Logos/claro.svg",
          "mtimeMs": 1677773597000,
          "date": "2023-08-21T03:05:28.347Z"
        },
        {
          "file": "img/SVG/UI UX model.svg",
          "mtimeMs": 1666970579000,
          "date": "2023-08-21T03:05:29.139Z"
        },
        {
          "file": "img/claro/Branding.jpg",
          "mtimeMs": 1676599913000,
          "date": "2023-08-21T03:05:30.049Z"
        },
        {
          "file": "img/claro/Branding.png",
          "mtimeMs": 1676599913000,
          "date": "2023-08-21T03:05:30.713Z"
        },
        {
          "file": "img/claro/Cards.jpg",
          "mtimeMs": 1677773599000,
          "date": "2023-08-21T03:05:31.516Z"
        },
        {
          "file": "img/claro/Cards.png",
          "mtimeMs": 1677773600000,
          "date": "2023-08-21T03:05:32.241Z"
        },
        {
          "file": "img/claro/Desk-cover.gif",
          "mtimeMs": 1676573480000,
          "date": "2023-08-21T03:05:33.906Z"
        },
        {
          "file": "img/claro/Health-Site-Desk.png",
          "mtimeMs": 1676419066000,
          "date": "2023-08-21T03:05:34.661Z"
        },
        {
          "file": "img/claro/Health-Site-Mob.png",
          "mtimeMs": 1676419067000,
          "date": "2023-08-21T03:05:35.380Z"
        },
        {
          "file": "img/claro/Menu-Mobile.gif",
          "mtimeMs": 1676513046000,
          "date": "2023-08-21T03:05:37.070Z"
        },
        {
          "file": "img/claro/Menu-components.png",
          "mtimeMs": 1677773601000,
          "date": "2023-08-21T03:05:37.705Z"
        },
        {
          "file": "img/claro/Menu-desktop.gif",
          "mtimeMs": 1676513046000,
          "date": "2023-08-21T03:05:39.513Z"
        },
        {
          "file": "img/claro/Menu.jpg",
          "mtimeMs": 1677773601000,
          "date": "2023-08-21T03:05:40.336Z"
        },
        {
          "file": "img/claro/Mobile-footer-banners.gif",
          "mtimeMs": 1676573483000,
          "date": "2023-08-21T03:05:46.556Z"
        },
        {
          "file": "img/claro/Mock-Claro.png",
          "mtimeMs": 1676428433000,
          "date": "2023-08-21T03:05:47.537Z"
        },
        {
          "file": "img/claro/Open-tabs.jpg",
          "mtimeMs": 1676513047000,
          "date": "2023-08-21T03:05:48.284Z"
        },
        {
          "file": "img/claro/Rank-SEO.png",
          "mtimeMs": 1676419068000,
          "date": "2023-08-21T03:05:48.952Z"
        },
        {
          "file": "img/claro/User-Card-1.png",
          "mtimeMs": 1676599913000,
          "date": "2023-08-21T03:05:49.677Z"
        },
        {
          "file": "img/claro/User-Card-2.png",
          "mtimeMs": 1676599914000,
          "date": "2023-08-21T03:05:50.411Z"
        },
        {
          "file": "img/claro/ai.svg",
          "mtimeMs": 1677773602000,
          "date": "2023-08-21T03:05:50.927Z"
        },
        {
          "file": "img/claro/btns.jpg",
          "mtimeMs": 1677773602000,
          "date": "2023-08-21T03:05:51.660Z"
        },
        {
          "file": "img/claro/btns.png",
          "mtimeMs": 1677773603000,
          "date": "2023-08-21T03:05:52.229Z"
        },
        {
          "file": "img/claro/claro.svg",
          "mtimeMs": 1676419068000,
          "date": "2023-08-21T03:05:52.867Z"
        },
        {
          "file": "img/claro/movistar.es-1.png",
          "mtimeMs": 1676428433000,
          "date": "2023-08-21T03:05:53.790Z"
        },
        {
          "file": "img/claro/movistar.es-2.png",
          "mtimeMs": 1676428433000,
          "date": "2023-08-21T03:05:54.740Z"
        },
        {
          "file": "img/claro/movistar.es-3.png",
          "mtimeMs": 1676428434000,
          "date": "2023-08-21T03:05:55.625Z"
        },
        {
          "file": "img/claro/screenshot_claro.gif",
          "mtimeMs": 1676428436000,
          "date": "2023-08-21T03:06:26.322Z"
        },
        {
          "file": "img/claro/Branding/Text-styles.jpg",
          "mtimeMs": 1676599914000,
          "date": "2023-08-21T03:06:27.089Z"
        },
        {
          "file": "img/claro/Branding/↩ Branding.jpg",
          "mtimeMs": 1676599915000,
          "date": "2023-08-21T03:06:27.938Z"
        },
        {
          "file": "img/claro/Branding/↩ Color Palette.jpg",
          "mtimeMs": 1676599915000,
          "date": "2023-08-21T03:06:28.684Z"
        },
        {
          "file": "img/claro/Branding/↩ Iconos.jpg",
          "mtimeMs": 1676599915000,
          "date": "2023-08-21T03:06:29.436Z"
        },
        {
          "file": "img/hds/Architecture-inf-1.png",
          "mtimeMs": 1676419068000,
          "date": "2023-08-21T03:06:30.114Z"
        },
        {
          "file": "img/hds/Architecture-inf-2.png",
          "mtimeMs": 1676419069000,
          "date": "2023-08-21T03:06:30.842Z"
        },
        {
          "file": "img/hds/Architecture-inf.png",
          "mtimeMs": 1676419069000,
          "date": "2023-08-21T03:06:32.356Z"
        },
        {
          "file": "img/hds/Estructura-Productos.png",
          "mtimeMs": 1676419069000,
          "date": "2023-08-21T03:06:33.017Z"
        },
        {
          "file": "img/hds/HDS-low-fidelity.png",
          "mtimeMs": 1676419070000,
          "date": "2023-08-21T03:06:34.136Z"
        },
        {
          "file": "img/hds/MockHDS.png",
          "mtimeMs": 1676419070000,
          "date": "2023-08-21T03:06:35.149Z"
        },
        {
          "file": "img/hds/Sketch-Consultando HDS.png",
          "mtimeMs": 1676419071000,
          "date": "2023-08-21T03:06:35.985Z"
        },
        {
          "file": "img/hds/User-Test.jpg",
          "mtimeMs": 1677776334000,
          "date": "2023-08-21T03:06:36.718Z"
        },
        {
          "file": "img/hds/portada-hds.jpg",
          "mtimeMs": 1676419073000,
          "date": "2023-08-21T03:06:37.443Z"
        },
        {
          "file": "img/icon/Icon-in.png",
          "mtimeMs": 1666970579000,
          "date": "2023-08-21T03:06:37.966Z"
        },
        {
          "file": "img/icon/Icon-message.png",
          "mtimeMs": 1666970580000,
          "date": "2023-08-21T03:06:38.479Z"
        },
        {
          "file": "img/icon/Icon-smartphone.png",
          "mtimeMs": 1666970580000,
          "date": "2023-08-21T03:06:38.998Z"
        },
        {
          "file": "img/icon/Kuova-symbol.png",
          "mtimeMs": 1666970580000,
          "date": "2023-08-21T03:06:39.529Z"
        },
        {
          "file": "img/min/Project=Claro.jpg",
          "mtimeMs": 1692561947000,
          "date": "2023-08-21T03:06:40.257Z"
        },
        {
          "file": "img/min/Project=Claro@2x.jpg",
          "mtimeMs": 1692561947000,
          "date": "2023-08-21T03:06:41.245Z"
        },
        {
          "file": "img/min/Project=ConsultandoHDS.jpg",
          "mtimeMs": 1692561838000,
          "date": "2023-08-21T03:06:42.056Z"
        },
        {
          "file": "img/min/Project=ConsultandoHDS@2x.jpg",
          "mtimeMs": 1692561838000,
          "date": "2023-08-21T03:06:42.865Z"
        },
        {
          "file": "img/min/Project=GBT.jpg",
          "mtimeMs": 1692561898000,
          "date": "2023-08-21T03:06:43.566Z"
        },
        {
          "file": "img/min/Project=GBT@2x.jpg",
          "mtimeMs": 1692561898000,
          "date": "2023-08-21T03:06:44.378Z"
        },
        {
          "file": "img/min/Project=HoliHealth.jpg",
          "mtimeMs": 1692561891000,
          "date": "2023-08-21T03:06:45.160Z"
        },
        {
          "file": "img/min/Project=HoliHealth@2x.jpg",
          "mtimeMs": 1692561891000,
          "date": "2023-08-21T03:06:46.042Z"
        },
        {
          "file": "img/min/Project=LQC.jpg",
          "mtimeMs": 1692561904000,
          "date": "2023-08-21T03:06:46.815Z"
        },
        {
          "file": "img/min/Project=LQC@2x.jpg",
          "mtimeMs": 1692561904000,
          "date": "2023-08-21T03:06:47.665Z"
        },
        {
          "file": "img/min/Project=Percell.jpg",
          "mtimeMs": 1692561883000,
          "date": "2023-08-21T03:06:48.350Z"
        },
        {
          "file": "img/min/Project=Percell@2x.jpg",
          "mtimeMs": 1692561883000,
          "date": "2023-08-21T03:06:49.110Z"
        },
        {
          "file": "img/min/Project=RemoteWorkQHDS.jpg",
          "mtimeMs": 1692561912000,
          "date": "2023-08-21T03:06:49.786Z"
        },
        {
          "file": "img/min/Project=RemoteWorkQHDS@2x.jpg",
          "mtimeMs": 1692561912000,
          "date": "2023-08-21T03:06:50.689Z"
        },
        {
          "file": "img/min/Project=Upax.jpg",
          "mtimeMs": 1692561952000,
          "date": "2023-08-21T03:06:51.469Z"
        },
        {
          "file": "img/min/Project=Upax@2x.jpg",
          "mtimeMs": 1692561952000,
          "date": "2023-08-21T03:06:52.396Z"
        },
        {
          "file": "img/upax/App_MS Nacional 1.jpg",
          "mtimeMs": 1667189710000,
          "date": "2023-08-21T03:06:53.073Z"
        },
        {
          "file": "img/upax/UPAX-BUILDING.jpg",
          "mtimeMs": 1666970581000,
          "date": "2023-08-21T03:06:54.002Z"
        },
        {
          "file": "img/upax/UPAX-WEB-MOVIL.jpg",
          "mtimeMs": 1667189710000,
          "date": "2023-08-21T03:06:54.904Z"
        },
        {
          "file": "img/upax/UPAXER_SCREEN.png",
          "mtimeMs": 1666970582000,
          "date": "2023-08-21T03:06:58.347Z"
        },
        {
          "file": "img/upax/UPAX_Mobile 1.jpg",
          "mtimeMs": 1667189711000,
          "date": "2023-08-21T03:06:59.605Z"
        },
        {
          "file": "img/upax/Upax_Ver.png",
          "mtimeMs": 1667189711000,
          "date": "2023-08-21T03:07:00.152Z"
        },
        {
          "file": "img/upax/upax-wall.jpg",
          "mtimeMs": 1666970583000,
          "date": "2023-08-21T03:07:00.918Z"
        },
        {
          "file": "img/zakiaFc/Zeplin-ZakiaFC.mov",
          "mtimeMs": 1667189713000,
          "date": "2023-08-21T03:07:40.022Z"
        },
        {
          "file": "js/main.js",
          "mtimeMs": 1692598494000,
          "date": "2023-08-21T06:20:33.745Z"
        },
        {
          "file": "js/mc-validate.js",
          "mtimeMs": 1666970584000,
          "date": "2023-08-21T03:07:41.374Z"
        },
        {
          "file": "img/thumb.png",
          "mtimeMs": 1692591742000,
          "date": "2023-08-21T04:24:51.454Z"
        },
        {
          "file": "css/aos.css",
          "mtimeMs": 1679522038000,
          "date": "2023-08-21T06:05:48.970Z"
        },
        {
          "file": "js/aos.js",
          "mtimeMs": 1679522025000,
          "date": "2023-08-21T06:05:50.552Z"
        },
        {
          "file": "Percell.html",
          "mtimeMs": 1692919912000,
          "date": "2023-08-28T20:58:04.695Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.htm",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
